.header-sperto {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 12px -2px rgba(0,0,0,.2);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}

.header__title {
    margin: 4px 0 0 10%;
    font-weight: bold;
    color: #295b8d;
    font-size: 20px
}

.header__left {
    position: absolute;
    right: 5%;
    color: #283d54;
    align-items: center;
    
}

.header__left__align {
    margin: 0px 20px 0 0
}

.header__left-icons {
    cursor: pointer; 
    font-weight: bold;
}

.header__left-icons:hover {
    color: #c4a427;
}

.button-header-variant {
    border-color: #295b8d; 
    color: #295b8d;
}

.button-header-variant:hover {
    background-color: #295b8d;
    border-color: #295b8d;
}

@media (max-width: 540px) {
    .header-hide {
        display: none
    }
}