.rmk-first {
    /* background-image: url(../images/headeropen.jpg); */
    /* box-shadow: 0 0 100px 80px rgba(39,62,84, 0.95) inset; */
    background-color: rgba(39,62,84);
    height: 100%;
}

.mini-curso-registro {
    background-color: rgba(39,62,84);
    height: 100vh;
}

.rmk-fourth {
    background-image: url(../images/something-great.jpg);
    background-repeat: no-repeat;
}

.rmk-first__title {
    color: white; 
    font-weight: bold; 
    font-size: 40px; 
    width: 100%
}

.rmk-first__subtitle {
    color: white; 
    font-size: 25px;
    margin-top: 25px; 
    width: 100%
}

.rmk-first--flex {
    padding: 5% 10% 5% 12%;
}

.gracias__subtitle {
    font-size: 20px; 
    width: 80%; 
    color: white; 
    margin-top: 30px
}

.payment-input {
    background-color: #fbfbfb;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  color: #3c3c3c;
  font-size: 18px;
  font-weight:500;
  line-height: 22px;
  margin-bottom: 10px;
  outline: none;
  padding: 7px 13px 7px 20px;
  width:400px;
}


.rmk-input {
  background-color: #fbfbfb;
  border-radius: 5px;
  border: 3px solid rgba(0,0,0,0);
  box-sizing: border-box;
  color: #3c3c3c;
  font-size: 18px;
  font-weight:500;
  line-height: 22px;
  margin-bottom: 10px;
  outline: none;
  padding: 7px 13px 7px 20px;
  width:400px;
}

.video {
    width: 640px;
    height: 385px;
    margin: auto;
}

.button-hidden {
    display: none
}


@media (max-width: 840px) {

    .rmk-first {
        height: 100vh;
    }

    .gracias__subtitle {
        width: 100%;
    }

    .rmk-first__title{
        font-size: 26px
    }

    .rmk-first__subtitle {
        font-size: 20px
    }

    .rmk-input {
        width: 100%;
    }

    .video {
        width: 350px;
        height: 200px;
    }

    .payment-input {
        width:250px;
    }

    .mini-curso-registro {
        height: 100%;
    }
  }

  .inputTool {
    width: 80%
    }

    .cover-guia {
        padding: 20px; 
        height: 395px; 
        background-color: white;
    }

  @media (min-width: 800px) {
    .inputTool {
        width: 50%
    }
  }

  @media (max-width: 800px) {
    .table-display {
        display: none
    }
    .cover-guia {
        display: none
    }
  }

  @media (min-width: 800px) {
    .table-display2 {
        display: none
    }
  }